<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.DA_WIN_NANGCAOConnectionString"
            connectionString="Data Source=DESKTOP-CKJCBOM\SQLEXPRESS;Initial Catalog=DA_WIN_NANGCAO;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>