<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QuanLy_NhanSu.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="QuanLy_NhanSu.Properties.Settings.DA_WIN_NANGCAOConnectionString1"
            connectionString="Data Source=DESKTOPDSSGJN2\SQLEXPRES;Initial Catalog=DA_WIN_NANGCAO;User ID=hoan;Password=sa123123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <QuanLy_NhanSu.Properties.Settings>
            <setting name="user" serializeAs="String">
                <value />
            </setting>
            <setting name="pass" serializeAs="String">
                <value />
            </setting>
            <setting name="flag" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="UngVienClick" serializeAs="String">
                <value>1</value>
            </setting>
        </QuanLy_NhanSu.Properties.Settings>
    </userSettings>
</configuration>
