<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLy_NhanSu.Properties.Settings.DA_WIN_NANGCAOConnectionString" connectionString="Data Source=DESKTOP-CKJCBOM\SQLEXPRESS;Initial Catalog=DA_WIN_NANGCAO;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
</configuration>
